@charset "utf-8";/*声明CSS文件的编码格式*/
body,ul,li,a,p {
    margin:0;
    padding:0;
}
body {
    font-family:"Microsoft yahei";
    background:#000;
}
ul,li {
    list-style:none;
}
a {
    text-decoration:none;
}

/*************************wrapper-top start************************/

.wrapper-top {
    height:800px;
    padding-top:40px;
    background:url("../images/wrapper-top-bg.jpg") no-repeat center;
    background-size:cover;
}
.wrapper-top .nav {
    width:1000px;/*安全宽度*/
    margin:0 auto;
    height:60px;
    padding:0 40px;
    box-sizing:border-box;
    background:url("../images/nav-bg.png") no-repeat center;
}
.wrapper-top .nav li {
    float:left;
}
.wrapper-top .nav li a {
    padding:0 14px;
    color:#ffe100;
    font-size:18px;
    font-weight:800;
    line-height:60px;
}
.wrapper-top .nav li a:hover {
    color:#fff;
}

/*************************wrapper-top start************************/

/*************************wrapper-mid start************************/

.wrapper-mid {
    height:251px;
    background:url("../images/mid-list-bg.jpg");
}
.wrapper-mid .list {
    width:1000px;
    margin:0 auto;
    height:100%;
    padding-top:40px;
}
.wrapper-mid .list li {
    float:left;
    width:241px;
    height:160px;
    margin-right:12px;
    background:url("../images/list-item-bg.jpg") no-repeat center;
}
.wrapper-mid .list li.last {
    margin-right:0;
}
.wrapper-mid .list li img {
    margin:5px 6px;
}

/*************************wrapper-mid end************************/

/*************************wrapper-fot start************************/

.wrapper-fot {
    width:1000px;
    margin:0 auto;
}

/*************************wrapper-fot business start************************/
.wrapper-fot .business {
    padding-top:50px;
}
.wrapper-fot .business a {
    color:#b3b3b3;
    width:100px;
    text-align:center;
    display:inline-block;
    font-size:14px;
}
.wrapper-fot .business a.feedback {
    text-align:left;
    width:60px;
}
.wrapper-fot .business a:hover {
    color:#fff;
}
.icon {
    width:18px;
    float:left;
    height:20px;
    display:inline-block;
    background:url("../images/foot-icons.png") no-repeat;
}
.icon.service {
    background-position:-5px -6px;
}
.icon.feedback {
    background-position:-36px -6px;
}
.icon.joinus {
    background-position:-7px -32px;
}

/*************************wrapper-fot business end************************/

/*************************wrapper-fot copyright start************************/

.wrapper-fot .copyright {
    padding-top:70px;
    position:relative;
}
.wrapper-fot .copyright .logo-wy {
    position:absolute;
    top:110px;
    left:168px;
}
.wrapper-fot .copyright .info {
    width:65%;
    float:right;
}
.wrapper-fot .copyright p.declaration {
    color:#fff;
}
.wrapper-fot .copyright p.declaration a {
    color:#b3b3b3;
    font-size:14px;
    line-height:30px;
}
.wrapper-fot .copyright p.declaration a:hover {
    color:#fff;
}
.wrapper-fot .copyright p.declaration span {
    margin:0 10px;
    font-size:12px;
}
.wrapper-fot .copyright p.content,.prompt {
    font-size:10px;
    line-height:18px;
    color:rgba(255,255,255,.3);
}
.wrapper-fot .copyright p.bottom {
    padding-top:10px;
}
.wrapper-fot .copyright p.bottom a {
    padding:0 5px;
}

/*************************wrapper-fot copyright end************************/

/*************************wrapper-fot end************************/

/*************************prompt start************************/

.prompt {
    width:1200px;
    margin:0 auto;
    border-top:1px solid #666;
    text-align:center;
}
.prompt p {
    padding:10px 30px;
}

/*************************prompt end************************/
